name: Build

run-name: Build ${{ github.ref_name }}

on:
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main, develop ]
  workflow_dispatch:
  workflow_call:

permissions:
  contents: read
  issues: none
  pull-requests: none

jobs:
  build:
    name: Build

    env:
      FORCE_COLOR: 1
      PYTHONUNBUFFERED: 1
      PYTHONDONTWRITEBYTECODE: 1

    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
        python-version: [ "3.13" ]
        include:
          - python-version: "3.11"
            os: ubuntu-latest
          - python-version: "3.9"
            os: ubuntu-latest

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install jpeg
        if: matrix.os == 'ubuntu-latest'
        run: sudo apt-get install -y libjpeg-dev zlib1g-dev
      - name: Install dependencies
        run: make install
      - name: Test
        run: make test

  validate:
    name: Validate
    uses: ./.github/workflows/validate.yml
    secrets: inherit