name: Integration Test

on:
  push:
    branches: [ main ]
  workflow_call:
  workflow_dispatch:
  schedule:
    - cron: "0 7 * * *"

permissions:
  contents: read
  issues: none
  pull-requests: none

concurrency:
  group: amazon-orders-integration-singleton

jobs:
  test:
    name: Integration Test

    env:
      FORCE_COLOR: 1
      PYTHONUNBUFFERED: 1
      PYTHONDONTWRITEBYTECODE: 1
      DEBUG: "True"
      AMAZON_USERNAME: ${{ secrets.AMAZON_USERNAME }}
      AMAZON_PASSWORD: ${{ secrets.AMAZON_PASSWORD }}
      AMAZON_OTP_SECRET_KEY: ${{ secrets.AMAZON_OTP_SECRET_KEY }}
      # The following variables are not required, defaults will be used if they are not defined
      AMAZON_BASE_URL: ${{ vars.AMAZON_BASE_URL }}
      AMAZON_INTEGRATION_TEST_JSON: ${{ vars.AMAZON_INTEGRATION_TEST_JSON }}
      AMAZON_INTEGRATION_TEST_AUTH: ${{ vars.AMAZON_INTEGRATION_TEST_AUTH }}
      AMAZON_INTEGRATION_TEST_AUTH_WRONG_PASSWORD: ${{ vars.AMAZON_INTEGRATION_TEST_AUTH_WRONG_PASSWORD }}
      AMAZON_INTEGRATION_TEST_YEAR: ${{ vars.AMAZON_INTEGRATION_TEST_YEAR }}
      AMAZON_START_INDEX: ${{ vars.AMAZON_START_INDEX }}
      AMAZON_TRANSACTIONS_DAYS: ${{ vars.AMAZON_TRANSACTIONS_DAYS }}
      AMAZON_FULL_DETAILS_LOOP_COUNT: ${{ vars.AMAZON_FULL_DETAILS_LOOP_COUNT }}

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3.13
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"
      - name: Install jpeg
        run: sudo apt-get install -y libjpeg-dev zlib1g-dev
      - name: Integration test
        run: make test-integration
      - name: Upload test output
        if: ${{ always() }}
        uses: actions/upload-artifact@v4
        with:
          name: integration-test-output
          include-hidden-files: true
          path: tests/.integration-config/
          retention-days: 7
      - name: Upload test results
        if: ${{ !cancelled() }}
        uses: codecov/test-results-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          directory: ./build/test-results
