name: Release

run-name: Release ${{ github.ref_name }}

on:
  release:
    types: [ created ]

permissions:
  contents: read
  issues: none
  pull-requests: none

jobs:
  validate-version:
    name: Validate Version

    env:
      FORCE_COLOR: 1
      PYTHONUNBUFFERED: 1

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3.13
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"
      - name: Validate version
        run: make validate-release VERSION=${GITHUB_REF#refs/tags/}

  build:
    name: Build
    uses: alexdlaird/amazon-orders/.github/workflows/build.yml@main
    secrets: inherit

  integration:
    name: Integration Test
    if: ${{ vars.AMAZON_INTEGRATION_SKIP_ON_RELEASE != 'true' }}
    uses: alexdlaird/amazon-orders/.github/workflows/integration.yml@main
    secrets: inherit
    needs: validate-version

  Release:
    name: Release
    needs: [build, validate-version, integration]
    if: ${{ always() && ! failure() && ! cancelled() }}

    env:
      FORCE_COLOR: 1
      PYTHONUNBUFFERED: 1

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3.13
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"
      - name: Install jpeg
        run: sudo apt-get install -y libjpeg-dev zlib1g-dev
      - name: Publish
        env:
          TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
          TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
        run: make upload